@font-face {
  font-family: 'toutiao';
  /* Project id 3988367 */
  src: url('//at.alicdn.com/t/c/font_3988367_zym6diuznvq.woff2?t=1680422074918') format('woff2'), url('//at.alicdn.com/t/c/font_3988367_zym6diuznvq.woff?t=1680422074918') format('woff'), url('//at.alicdn.com/t/c/font_3988367_zym6diuznvq.ttf?t=1680422074918') format('truetype');
}
.toutiao {
  font-family: 'toutiao' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.toutiao-shoucang1:before {
  content: '\e62a';
}
.toutiao-lishi:before {
  content: '\e63b';
}
.toutiao-shoucang:before {
  content: '\e8b9';
}
.toutiao-shouji:before {
  content: '\e602';
}
.toutiao-mima:before {
  content: '\e605';
}
.toutiao-shouye:before {
  content: '\e6cb';
}
.toutiao-wode:before {
  content: '\e8a0';
}
.toutiao-shipinbofang:before {
  content: '\e600';
}
.toutiao-xiaoxi:before {
  content: '\e609';
}
